/*
If you want, you can customize the look and feel of the select with this parameters
 */
$padding_multipleCheckbox: .5rem 1rem;
$border_multipleCheckbox: 1px solid black;
$top-border-radius_multipleCheckbox: 2px;
$top-height_multipleCheckbox: 3rem;
$width_multipleCheckbox: inherit; // Inherith the width of the container
$background-color_multipleCheckbox: inherit;

.dropdown-select-top {
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  height: $top-height_multipleCheckbox;
  background-color: $background-color_multipleCheckbox;
  width: $width_multipleCheckbox;
  padding: $padding_multipleCheckbox;
  border: $border_multipleCheckbox;
  border-radius: $top-border-radius_multipleCheckbox;

  p, span {
    margin: 0;
    padding: 0;
  }

  // The paragraph is initially hidden.
  .dropdown-checkbox-selected {
    display: none;
  }
}

.dropdown-select-body {
  display: none;
  border: $border_multipleCheckbox;
  border-top: none;
  padding: $padding_multipleCheckbox;
  width: $width_multipleCheckbox;
  background-color: $background-color_multipleCheckbox;

  ul {
    padding: 0;
    list-style: none;
  }
}

